/* Animation for Logo */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.netflix-logo {
  width: 100%; 
  height: auto;
  margin-top: 5%;
  background: fixed;
  animation-name: fadeIn;
  animation-duration: 7s;
}
/* End animation for logo */