.jumbotron {
  padding: 0;
  background-color: transparent;
}

.container-footer {
  font-size: 8;
  text-align: center;
  color: grey;
}

body {
  margin: 0; 
  padding: 0;
  background-image: url("../images/micro_carbon.png");
  background-repeat: repeat;
}

.food-input {
  background-color:rgba(0, 0, 0,.5);
  color: white;
}

.movie-input {
  background-color:rgba(0, 0, 0,.5);
  color: white;
}

.food-display {
  background-color:rgba(0, 0, 0,.5);
  color: white;
}

.movie-display {
  background-color:rgba(0, 0, 0,.5);
  color: white;
}

/* .flex-container {
  display: flex;
} */