/* Animation for Logo */
@-webkit-keyframes logo {
  from {
    opacity: 0;
    width: 100%;
    height: auto;
  }

  to {
    opacity: 1;
    width: 50%;
    height: auto;
  }
}

@keyframes logo {
  from {
    opacity: 0;
    width: 100%;
    height: auto;
  }
  to {
    opacity: 1;
    width: 50%;
    height: auto;
  }
}

.fadeIn {
  animation-name: logo;
}

.netflix-logo {
  width: 50%; 
  height: auto;
  margin-top: 5%;
  animation-name: logo;
  animation-duration: 5s;
}
/* End animation for logo */

.jumbotron {
  padding: 0;
  background-color: transparent;
  text-align: center;
}

.container-footer {
  font-size: 6;
  text-align: center;
  color: rgba(128, 128, 128, 0.3);
  padding-bottom: 1%;
}

body {
  /* margin: 0; 
  padding: 0; */
  background-image: url("../images/micro_carbon.png");
  background-repeat: repeat;
  font-family: 'Oswald', sans-serif;
}

.food-input {
  background-color:rgba(0, 0, 0,.5);
  color: white;
}

.movie-input {
  background-color:rgba(0, 0, 0,.5);
  color: white;
}

.food-display {
  background-color:rgba(0, 0, 0,.5);
  color: white;
}

.movie-display {
  background-color:rgba(0, 0, 0,.5);
  color: white;
}

.get-started {
  text-align: center;
  color: white;
}

#solution {
  font-size: 36pt;
  margin-top: 2%;
}

#start {
  font-size: 16pt;
  padding-bottom: 1%;
}

.card-header {
  text-align: center;
}

.recipe {
  background-color:rgba(0, 0, 0, 1);
  text-align: center;
  border-radius: 5px;
  /* display: flex;
  flex-wrap: wrap;
  width: 100%; */
}

.movie {
  background-color:rgba(0, 0, 0, 1);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: none;
}

.btn {
  background-color: rgb(185, 9, 11);
  margin-left: 1%;
  margin-top: 1%;
}

.movieEdit {
  background-color:rgba(0, 0, 0, 1);
  width: 18rem;
}

.movieEdit img {
  max-height: 400px;
}

.container-userData {
  background-color:rgba(0, 0, 0,.5);
  color: white;
  padding: 1%;
}

.container-recipes .card {
  flex-direction: row;
  vertical-align: top;
  background-color:rgba(0, 0, 0, 1);
  outline: 1px white;
}

.food-display .container-recipes h3.recipe-title {
  height: 70px;
  text-align: center;
}

.card-body {
  text-align: center;
}

.food-input-group {
  margin: 1%;
}

#clear-food {
  margin-right: 1%;
  margin-top: 0;
  height: 40px;
}

#food-submit-btn {
  margin-top: 0;
  height: 40px;
}



/* button display: block */
/* movie titles: truncate after x number of characters */
/*  */